.home {
    height: 100vh;
    display: grid;
    place-items: center;
}


.about {
    height: 100vh;
    display: grid;
    place-items: center;
}


.gallery {
    height: 100vh;
    display: grid;
    place-items: center;
}