.header {
    height: 35px;
    background-color: darkslategray;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
  
}

.content {
    width: 50%;
    padding: 0 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    color: #fff;
}

.content h3, h4 {
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
}